.App {
  text-align: center;
  background-color: #006189;
}

.App-header {
  cursor: pointer;
  max-height: 1vh;
  max-width: fit-content;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  font-size: calc(6px + 2vmin);
  color: white;
  transition: color 0.2s;
}

.sub-header{
  font-size: calc(4px + 2vmin);
  color: #ffb400;
  transition: color 0.2s;
}

.App-header:hover {
  color: grey;
}

.sub-header:hover {
  color: rgba(134, 94, 0, 0.962)
}

.App-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25vh;
  font-size: calc(5px + 2vmin);
  color: white;
}