.App {
  text-align: center;
  background: rgb(0,97,137);
  background: linear-gradient(90deg, rgba(0,97,137,1) 0%, rgba(99,0,137,1) 100%);
}

.App-header {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  max-height: 1vh;
  max-width: fit-content;
  margin: auto;
  font-size: calc(6px + 6vmin);
  font-weight: bold;
  color: white;
  transition: color 0.2s;

  font-family: 'Patua One', cursive;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

#sub-header{
  font-size: calc(4px + 3vmin);
  color: #ffb400;
  transition: color 0.2s;
}

.App-header:hover {
  color: #ff9500;
}

#sub-header:hover {
  color: #ffe19a;
}

.App-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
  font-size: calc(5px + 2vmin);
  color: white;
}

  /* Stand-by CSS for Google Fonts 

  font-family: 'Heebo', sans-serif;
  font-family: 'Kiwi Maru', serif;
  font-family: 'Kranky', cursive;
  font-family: 'Lobster', cursive;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-family: 'Mohave', sans-serif;
  font-family: 'Patua One', cursive;
  font-family: 'Quicksand', sans-serif;
  */