.App {
  text-align: center;
  background-color: #006189;
}

.App-header {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  max-height: 1vh;
  max-width: fit-content;
  margin: auto;
  font-size: calc(6px + 6vmin);
  font-weight: bold;
  color: white;
  transition: color 0.2s;
}

#sub-header{
  font-size: calc(4px + 3vmin);
  color: #ffb400;
  transition: color 0.2s;
}

.App-header:hover {
  color: grey;
}

#sub-header:hover {
  color: rgba(134, 94, 0, 0.962)
}

.App-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15vh;
  font-size: calc(5px + 2vmin);
  color: white;
}