.entry-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 800px;
    justify-content: center;
    align-items: center;
    gap: 0.5px;
}

.entry-title {
    width: 100%;
}

.new {
    align-self: end;
    align-items: center;
    text-align: center;
    background-color: #2890ba;
    /* background: linear-gradient(90deg, rgba(0,97,137,1) 0%, rgba(99,0,137,1) 100%); */
    /* border: linear-gradient(90deg, rgba(0,97,137,1) 0%, rgba(99,0,137,1) 100%); */
    border: solid #630089 5px;
    border-radius: 10px;
    padding: 0.8em 2em;
    color: white;
    font-size: small;
    font-weight: bold;
    font-family: 'Comic Sans MS';
    margin-right: 5%;
    margin-bottom: 5px;
}

/* Commented out because overrides Bootstrap container class */
/* .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ffb400;
    border-radius: 10px;
    margin-bottom: 20px;
} */

.journalTitle {
    width: 30%;
    height: 40%;
    text-align: center;
    color: black;
    font-size: large;
    font-weight: bolder;
    font-family: 'Comic Sans MS';
}

.date {
    width: 30%;
    height: 40%;
    text-align: center;
    color: black;
    font-size: large;
    font-weight: bold;
    font-family: 'Comic Sans MS';
}

.edit {
    width: 15%;
    height: 40%;
    align-self: center;
    text-align: center;
    justify-content: start;
    background-color: #2890ba;
    /* background-color: #630089; */
    border: solid #006189 5px;
    border-radius: 10px;
    color: white;
    font-size: medium;
    font-weight: bold;
    font-family: 'Comic Sans MS';
}

.entry {
    width: 100%;
    height: 50px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: white;
    /* color: black; */
    color: #630089;
    font-family: 'Comic Sans MS';
}