.btn {
    font-family: 'Patua One', cursive;
    font-weight: 400;
}

#main-container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0, 97, 137, 0.4);
    border-radius: 0.5rem;
    padding: 0.7em;
    padding-top:1em;
    padding-left: 1em;
    padding-right: 1em;
    min-width: 90vh;
    min-height: 50vh;

    font-family: 'Patua One', cursive;
}

.card-title {
    font-size: 28px;
}

#entry-card {
    width: 26vh;
    height: 24vh;
    background-color: #f6fcff;
    /* min-height:10em;
    max-height:25em; */
}

select.btn-mini {
    height:auto;
    overflow-y: auto;
    line-height: 10px;
}

.entry-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 800px;
    justify-content: center;
    align-items: center;
    gap: 0.5px;
}

.entry-title {
    width: 100%;
    text-align: left;
}

.new {
    align-self: end;
    align-items: center;
    text-align: center;
    background-color: #2890ba;
    /* background: linear-gradient(90deg, rgba(0,97,137,1) 0%, rgba(99,0,137,1) 100%); */
    /* border: linear-gradient(90deg, rgba(0,97,137,1) 0%, rgba(99,0,137,1) 100%); */
    border: solid #630089 5px;
    border-radius: 10px;
    padding: 0.8em 2em;
    color: white;
    font-size: small;
    font-weight: bold;
    font-family: 'Comic Sans MS';
    margin-right: 5%;
    margin-bottom: 5px;
}

/* Commented out because overrides Bootstrap container class */
/* .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ffb400;
    border-radius: 10px;
    margin-bottom: 20px;
} */

.journalTitle {
    width: 30%;
    height: 40%;
    text-align: center;
    color: black;
    font-size: large;
    font-weight: bolder;
}

.date {
    width: 30%;
    height: 40%;
    text-align: center;
    color: black;
    font-size: large;
    font-weight: bold;
}

.edit {
    width: 15%;
    height: 40%;
    align-self: center;
    text-align: center;
    justify-content: start;
    background-color: #2890ba;
    /* background-color: #630089; */
    border: solid #006189 5px;
    border-radius: 10px;
    color: white;
    font-size: medium;
    font-weight: bold;
}

.entry {
    width: 100%;
    height: 50px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: white;
    /* color: black; */
    color: #630089;
}