#header-area {
    padding-left: 2em;
    padding-bottom: 0;
}

#journal-page-header {
    text-align: left;
    font-family: 'Patua One', cursive;
}

#journal-title {
    background-color: rgba(247, 253, 255, 0.7);
    border: none;
}

#main-container {
    /* background-color:rgb(205, 19, 19); */
    display: flex;
    flex-wrap: wrap;

}

#main-journal-area {
    background-color: rgba(0, 97, 137, 0.4);
    border-radius: 0.5rem;
    padding: 0.7em;
    padding-left: 1em;
    padding-right: 1.5em;
    min-width: 140vh;
    max-height: 70vh;
}

#save-btn {
    margin-top: 6px;
    font-family: 'Patua One', cursive;
}

.Quill {
    /* height: 100px;
    width: 100%; */
    /* min-height: 100%; */
    /* min-width: 100%; */
    /* border-radius: 1rem; */
    /* background-color: #ffffff !important;
     */
    /* order: 2; */
    /* color: #000000; */
    
    background-color: #ffffff;
}

.ql-container {
    font-size: 20px;
    height: calc(100% - 60px);
}

#ql-editor {
    height: 57vh;
    background-color: lightgray;
    color: #000000;
}

.Quill:last-child {
    height: 57vh;
    background-color: white;
    color: #000000;
}

/*** Vocab Sidebar ***/

.vocab-container {
    /* flex: 0 0 100%; */
    flex-direction: column;
    flex-wrap: wrap;
    /* position: relative; */
    height: 66vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 180, 1);
    border-radius: 0.5rem;
    font-size: 18px;
    font-weight: bold;
    order: 3;
}

.vocab-title {
    width: 100%;
    color: rgb(111, 75, 31);
    flex: 1 1 100%;
    padding-top: 0.7em;

    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 700;
    font-size: 25px;
}

.vocab {
    position: relative;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: rgb(43, 17, 7);
    margin-bottom: 10px;
}

.vocab:hover {
    color: #006189;
}

.vocab-box {
    background-color: #fff7ed;
    border-radius: 1rem;
    padding-top: 10px;
    margin-bottom: 0.3em;
    max-height: 87%;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #ffbe0a #ffffff;
}

.vocab-box::-webkit-scrollbar {
    width: 17px;
}

.vocab-box::-webkit-scrollbar-track {
    background: #ffffff;
}

.vocab-box::-webkit-scrollbar-thumb {
    background-color: #FFB400;
    border-radius: 8px;
    border: 4px solid #ffffff;
}

/*** Hover div for Kanji & Definition ***/

/* .vocab .extra{
    visibility: hidden;
    width: 120px;
    text-align: center;
    background-color: white;
    color: black;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    top: -5px;
    left: 255%;
    top: 10px;
    left: 100px;
    z-index: 33;
}

.vocab .extra::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.vocab:hover .extra {
    visibility: visible;
} */